/*
 * Demo only style
 */

@import url(//fonts.googleapis.com/css?family=PT+Sans);

body {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #333;
    background: #F3F3F3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1, h2, h3, h4{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 {
    font-size: 36px;
}
h2 {
    margin-bottom: 5px;
}
ul, ol {
    margin: 0;
    padding: 0;
}
ul {
    font-size: 16px;
    margin: 0px;
    padding-left: 25px;
    list-style-type: square;
}
a {
    color: #428bca;
    text-decoration: none;
}
a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
}
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.icon-edit {
    height: 16px;
    width: 16px;
    display: inline-block;
    background: url('../img/icon-edit.png');
    opacity: 0.5;
}
div:hover > .icon-edit {
    opacity: 1;
}
.navbar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}
.navbar-brand {
    float: left;
    padding: 15px 15px 15px 0;
    font-size: 20px;
    line-height: 20px;
}

.navbar a {
    color: #777;
}

.navbar a:hover {
    color: #333;
    text-decoration: none;
}

.navbar-nav {
    margin-left: 20px;
    float: left;
    list-style: none;
}

.nav-right {
    float: right;
}

.navbar-nav li {
    float: left;
    padding-right: 20px;
}
.navbar-nav li:last-child {
    padding-right: 0;
}
.navbar-nav li a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    display: block;
}
.navbar-collapse {
    display: block !important;
    border-top: 1px solid #e7e7e7;
    max-height: 340px;
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: -15px;
    margin-right: -15px;
    clear: both;
    float: none;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    -webkit-overflow-scrolling: touch;
}
.navbar-collapse li {
    float: none;
}
.navbar-collapse li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-toggle {
    display: none;
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
    outline: none;
    cursor: pointer;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
@media all and (max-width: 450px) {
    .navbar-nav {
        display: none;
    }
    .navbar-toggle {
        display: block !important;
    }
}
.main {
    margin-top: 20px;
}
.box {
    margin: 0 auto;
    background: #fff;
    border: 1px solid #D8D8D8;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}
.header {
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}
.content {
    padding: 1em;
}
.title {
    margin: 0px;
    color: #0976a5;
    font-size: 32px;
}
.title span {
    color: #4e4646;
}
.subtitle {
    margin-top: 5px;
}

.avatar-container {
    float: left;
}
#avatar {
    width: 100px;
    margin-left: 15px;
}
.edit-avatar {
    float: right;
    margin: -1px 0 0 -38px;
    position: relative;
    padding: 4px 6px !important;
}
.edit-header {
    float: right;
    padding: 7px 9px !important;
    margin: -1px;
}
.edit-bg {
    float: right;
}
ul li.active > a {
    text-decoration: underline;
    color: #205079;
}
